@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap');

.background {
  background-image: linear-gradient(
    to bottom left,
    rgb(151, 205, 250),
    rgb(176, 137, 250)
  );
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.positionRelative {
  position: relative;
  height: 100%;
}
.sponsorsBackground {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #ece2ff;
}
.backgroundInverted {
  background-image: linear-gradient(
    to bottom right,
    rgb(176, 137, 250),
    rgb(151, 205, 250)
  );
  width: 100%;
  min-height: 100vh;
  height: 100%;
}
.width100 {
  width: 100%;
}
.width80 {
  width: 80%;
}
.height100 {
  height: 100%;
}
.fullHeight {
  min-height: 100vh;
  height: 100%;
  align-items: center;
}
.topLeft {
  width: 100%;
  height: 100%;
}
.centerVertically {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.particles {
  position: absolute;
  height: 100%;
  width: 100%;
}
.h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 5rem;
}
.p1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}
.h2_25rem {
  font-family: 'Roboto Mono', monospace;
  font-size: 2.5rem;
}
.h2 {
  font-family: 'Roboto Mono', monospace;
  font-size: 3rem;
  font-weight: 700;
  color: #f6d030;
}
.h1_2rem {
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
}
.alignItemsCenter {
  align-items: center;
}
.flexCenter {
  justify-content: center;
  display: flex;
}
.marginTop10 {
  margin-top: 10vh;
}
.statsFont {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  color: white;
}
.white {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
/* Medium breakpoint */
@media (max-width: 768px) {
  .title {
    padding-top: 20vh;
  }
  .background {
    padding-bottom: 10vh;
  }
}
