.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.modal-main {
    position:fixed;
    background: white;
    width: 70%;
    height: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    border: #2D0371 solid 1px;
    background-color: #D8DEF3;
    padding: 20px 30px 20px 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}
    
::-webkit-scrollbar-track {
    background: white;
    margin-top: 100px;
    margin-bottom: 40px;
}

::-webkit-scrollbar-thumb {
    background: #98b2c2;
}

::-webkit-scrollbar-thumb:hover {
    background: slategray;
}


  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}
