.card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.22);
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
