.backgroundTitle {
  width: 100%;
  padding-top: 15vh;
  min-height: 100vh;
  height: 100%;
  background-color: #053e5e;
  text-align: left;
  color: white;
  align-items: center;
}

.background {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding-top: 15vh;
  background-color: #053e5e;
  text-align: center;
  color: white;
  padding: 15vh 0 15vh;
  align-items: center;
  justify-content: center;
  display: flex;
}
