@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body{
    font-family: "Raleway", sans-serif;
    padding: none;
}

#welcome{
    padding-top: 15vh;
    min-height: 100vh;
    background-color: #053E5E;
    text-align: center;
    color: #F6D030;
}

#apply{
    font-size: 35px;
    font-weight: bold;
    background-color: #053E5E;
    color:#F6D030;
    border-color: #F6D030;
}


#about{
    padding-top: 15vh;
    min-height: 100vh;
}

#create{
    padding-top: 15vh;
    min-height: 100vh;
    background-color: #053E5E;
    text-align: center;
    color: white;
}

#last-year{
    padding-top: 15vh;
    min-height: 100vh;
    text-align: center;
}

#sponsors{
    padding-top: 15vh;
    min-height: 100vh;
    background-color: #053E5E;
    text-align: center;
    color: white;
}

#faq{
    padding-top: 15vh;
    min-height: 100vh;
    text-align: center;
}

#footer{
    margin-top: 5vh;
    padding-top: 2vh;
    height: 15vh;
    text-align: center;
    background-color: gray;
}

#right{
    text-align: right;
}

#left{
    text-align: left;
    padding-right: 10vw;
}

#left p{
    font-size: 30px;
}

h1{
    font-size: 90px;
    padding-bottom: 5vh;
}

h3{
    font-size: 40px;
    padding-bottom: 5vh;
}

h4{
    font-size: 35px;
    font-weight: normal;
}

h5{
    font-size: 30px;
    padding-bottom: 5vh;
}

p{
    color: black;
}





