.center {
  justify-content: "center";
  align-items: "center";
}
.width75 {
  width: 75%;
}
.width100 {
  width: 100%;
}
.width90 {
  width: 90%;
}
.height40 {
  height: 40%;
  margin-right: 20px;
}
.height100 {
  height: 75%;
}

.fontSize78 {
  font-size: 48px;
}
.fontSize64 {
  font-size: 32px;
}
.marginTop100 {
  margin-top: 100px;
}
.button {
  background-color: #f6d030;
  color: black;
}
.bg {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.ddpRow {
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .ddpRow {
    justify-content: center;
  }
}
@media (min-width: 992px) {
  .ddpRow {
    margin-left: 100px;
  }
}
.ddpText {
  font-size: 72px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

.ddpBlurb {
  align-items: center;
  justify-content: center;
  display: flex;
}

.faqImage {
  width: 100%;
}

@media (max-width: 992px) {
  .faqImage {
    margin-bottom: 40px;
  }
}
