@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,200&display=swap");

/* Styles for the whole app */

h1 {
  font-family: "Jost";
  font-size: 100px;
  font-weight: 600;
  color: #f6d030;
}

h2 {
  font-family: "Jost";
  font-size: 90px;
  font-weight: 300;
}

h3 {
  font-family: "Montserrat";
  font-size: 48px;
  padding-bottom: 5vh;
}

h4 {
  font-family: "Jost";
  font-size: 30px;
  font-weight: normal;
  color: white;
}

h5 {
  font-family: "Montserrat";
  font-size: 20px;
  padding-bottom: 5vh;
}

p {
  font-family: "Montserrat";
  color: black;
}

/* body {
  width: 100vw;
  font-family: "Montserrat";
  max-width: 100%;
  overflow-x: hidden;
} */
