.width100 {
  width: 100%;
}

.width75 {
  width: 75%;
}

.width50 {
  width: 50%;
}

.width35 {
  width: 35%;
}

.col {
  margin-top: 30px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.marginTop100 {
  margin-top: 100px;
}
