.width100 {
  width: 100%;
}
.width75 {
  width: 75%;
}
.width50 {
  width: 50%;
}
.width35 {
  width: 35%;
}
.pb10 {
  padding-top: 7vh;
  padding-bottom: 10vh;
}
.col {
  margin-top: 30px;
  text-align: center;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.marginTop100 {
  margin-top: 100px;
  font-size: 2rem;
  text-align: center;
}
.h1_2021 {
  font-family: "Press Start 2P";
  font-size: 2rem;
  text-align: center;
}
.h1_2021_marginTop150 {
  font-family: "Press Start 2P";
  margin-top: 150px;
  font-size: 2rem;
  text-align: center;
}
.justifyContentCenter {
  justify-content: center;
}
.underline {
  text-decoration: underline;
}
